# Build and Release Folders
bin-debug/
bin-release/
ASpace/ASpace/obj/
ASpace/ASpaceContent/obj/
ASpace/ASpace/bin/
ASpace/ASpaceContent/bin/
Menu/Menu/obj/
Menu/Menu/bin/
MenuList/MenuList/obj/
MenuList/MenuListContent/obj/
MenuList/MenuList/bin/
MenuList/MenuListContent/bin/
_ReSharper.ArtificialSpace/
bin/
obj/

# Project property files